<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253154196646-008590ipq6dfe1equ4ta1n6l59uufkhv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253154196646-008590ipq6dfe1equ4ta1n6l59uufkhv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>253154196646-bj6dcgvas84br5oeg4psa9jt6hcme4j8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAWyFYDpwHJ7ex2a0icKSUHnaRazyrBlmg</string>
	<key>GCM_SENDER_ID</key>
	<string>253154196646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ionic.starter</string>
	<key>PROJECT_ID</key>
	<string>rishtamereliye-f0e3b</string>
	<key>STORAGE_BUCKET</key>
	<string>rishtamereliye-f0e3b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253154196646:ios:639e5ce451076b7316c867</string>
	<key>DATABASE_URL</key>
	<string>https://rishtamereliye-f0e3b-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>